.card-trip {
  width:32%;
  height:auto;
  background:white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.4s;
  text-align:left;
  border-radius: 5px 90px 0px 0px;
  overflow: hidden;
}

.card-trip:hover {
  margin-top:-10px;
  border-radius: 5px 5px 0px 0px;
}

.card-trip img {
  height: 200px;
  width:100%;
  object-fit: cover;
  object-position:center center;


}
.card-content {
  display:flex;
  justify-content: space-between;
  padding:10px;
  align-items: flex-end;
  position:relative;
}

.card-content .avatar {
  position: absolute;
  right: 10px;
  top: -31px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
  object-position:center;
  border:2px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-content h3, .card-content p{
margin:5px;
}

h3.card-price {
  align-items: flex-end;
}
