.quote-banner {
  width:100%;
  background:url('../../images/client.jpg');
  background-size:cover;
  background-position:center center;
  position:relative;
  text-align:center;
  padding:190px 0px;
  background-attachment: fixed;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px 120px 5px 120px;
  overflow: hidden;
}

.quote-banner:after {
  content:"";
  background:black;
  opacity: 0.4;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.quote-banner .btn-yours {
  margin-top:30px;
}
.quote-banner .container {
  z-index:9999;
  position: relative;
}

.quote-banner h1, .quote-banner h2, .quote-banner h3, .quote-banner p {
  color:white;
  max-width: 700px;
  margin:0 auto;

}

.quote-banner span {
  font-style:italic;
  color:white;
}

